*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    color: #111;
}

.primary, .second, .disable{
    color: white;
    background-color: rgb(255, 50, 50);
    border-radius: 5px;
    border: none;
    outline: none;
    width: 7.5vw;
    height: 5vh;
}

.second{
    background-color: rgb(255, 100, 100);
}

.disable{
    background-color: rgb(255, 10, 20);
}

.primary:hover, .second:hover{
    outline: 1px solid rgb(255, 25, 25);
}

.div-thow-buttons{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.div-thow-buttons > button{
    min-width: 49%;
    max-width: 49%;
    width: 49%;
}

input{
    width: 12vw !important;
    padding: 0px !important;
    height: 5vh !important;
    text-align: center;
}

input::placeholder{
    color: #ccc
}
